@page
@model SchoolProjectWeb.Pages_Eventos.DetailsModel

<div class="container">
    <h1 class="text-center mb-4">Detalles del Evento</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-4 rounded">
                <dl class="row">
                    <dt class="col-sm-4 font-weight-bold">Nombre del Evento:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Evento.NombreEvento)</dd>

                    <dt class="col-sm-4 font-weight-bold">Actividad:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Evento.Actividad.NombreActividad)</dd>

                    <dt class="col-sm-4 font-weight-bold">Fecha:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Evento.Fecha)</dd>

                    <dt class="col-sm-4 font-weight-bold">Lugar:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Evento.Lugar)</dd>

                    <dt class="col-sm-4 font-weight-bold">Descripción:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Evento.Descripcion)</dd>
                </dl>

                <div class="form-group mt-4 text-center">
                    @if (User.IsInRole("Administrador"))
                    {
                        <a asp-page="./Edit" asp-route-id="@Model.Evento.Id" class="btn btn-warning btn-lg">Editar Evento</a>
                    }
                    <a asp-page="Index" class="btn btn-secondary btn-lg ml-3">Volver a la Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
